.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pane-left {
  float: left;
  width: 30%;
  height: 1000px;
  background-color: white;
  box-sizing: border-box;
  border: 2px;
  border-style: solid;
}

.pane-right {
  float: right;
  width: 70%;
  height: 1000px;
  background-color: white;
  box-sizing: border-box;
  border: 2px;
  border-style: solid;
  overflow-y:auto
}

.pane:after {
  content: "";
  display: table;
  clear: both;
  display: grid;
  grid-template-columns: 1fr 1fr;
}